
/* ----- COLORS.scss ----- */

// Primaries.
$black: #000000;
$white: #FFFFFF;

// Blues.
$blue-darkest: #192F42;
$blue-dark: #24425C;
$blue-prime: #2E5171;
$blue-light: #7595B8;
$blue-lightest: #02B5FB;

// Reds.
$red-prime: #EF5350;
$red-lightest: #FFCDD2;

// Greens.
$green-prime: #66BB6A;
$green-lightest: #C8E6C9;
