
/* ----- COLORS.scss ----- */

// Primaries.
$color-primary-black: #000000;
$color-primary-white: #FFFFFF;

// Greys.
$color-grey-darkest: #20282D;
$color-grey-dark: #698495;
$color-grey-prime: #8BA0AD;
$color-grey-light: #B9C6CE;
$color-grey-lightest: #E7ECEE;

// Blues.
$color-blue-darkest: #345467;
$color-blue-dark: #4F7E9B;
$color-blue-prime: #6F9BB6;
$color-blue-light: #96B6CA;
$color-blue-lightest: #BDD1DE;
