
/* ----- COLORS.scss ----- */

// Primaries.
$color-primary-black: #000000;
$color-primary-white: #FFFFFF;

// Greys.
$color-grey-darkest: #20282D;
$color-grey-dark: #698495;
$color-grey-prime: #8BA0AD;
$color-grey-light: #B9C6CE;
$color-grey-lightest: #E7ECEE;

// Blues.
$color-blue-darkest: #345467;
$color-blue-dark: #4F7E9B;
$color-blue-prime: #6F9BB6;
$color-blue-light: #96B6CA;
$color-blue-lightest: #BDD1DE;

// Greens.
$color-green-darkest: #006558;
$color-green-dark: #00A08C;
$color-green-prime: #00C7AE;
$color-green-light: #00EED0;
$color-green-lightest: #A0FFF3;

// Reds.
$color-red-darkest: #9F2F3E;
$color-red-dark: #C74353;
$color-red-prime: #D0616F;
$color-red-light: #E29DA6;
$color-red-lightest: #F4DADD;
