
/* ----- OPTION-004.scss ----- */

// Fonts.
@import "https://fonts.googleapis.com/css?family=Assistant";

// Colors.
$color-004-grey: #D2DCE5;
$color-004-black: #232D38;
$color-004-green: #1EBA6B;
$color-004-orange: #FE5707;

// Option 004.
.option-004 {
  background: $color-primary-white;
  font-family: "Assistant", sans-serif;

  // Content.
  .content {
    @include rounded(4px);
    background: $color-004-black !important;
  }

  // Link.
  .link {
    color: $color-004-green;
  }

  // Header.
  .header {
    padding: 0 0 30px 0 !important;
  }

  // SVG.
  .svg {
    height: 180px;
    width: 200px;
  }

  // Heading.
  .heading {
    display: none;
  }

  // Label.
  .label {
    color: $color-primary-white;
    font-size: $font-size - 1px;
  }

  // Inputs, text.
  .input-email,
  .input-password {
    border: solid 1px $color-primary-white;
    color: $color-004-black;

    // Focus.
    &:focus {
      background: $color-004-green;
      border: solid 1px $color-004-green;
      color: $color-primary-white;
    }
  }

  // Field, remember.
  .field-remember {

    // Box.
    .label-remember:before {
      border: solid 2px $color-primary-white;
    }

    // Hover.
    .label-remember:hover {
      color: $color-004-green;

      // Before.
      &:before {
        border: solid 2px $color-004-green;
      }
    }

    // Checked.
    .input-remember:checked ~ .label-remember:before {
      background: $color-004-green;
      border: solid 2px $color-004-green;
    }
  }

  // Actions.
  .actions {
    margin: 20px -30px 0 -30px;
  }

  // Btn.
  .btn, a.btn, input[type="submit"].btn {
    @include rounded(0px);
    background: $color-004-green;
    border: solid 1px $color-004-green;
    padding: 20px;

    // Hover.
    &:hover {
      @include transition-all;
      background: darken($color-004-green, 10%);
      border: solid 1px darken($color-004-green, 10%);
    }
  }

  // Extras.
  .extras {
    background: $color-primary-white;
    font-size: $font-size - 1px;
    margin: 0 -30px -30px -30px;
    padding: 30px;
  }

  // Footer.
  .footer {
    background: $color-primary-white;
    color: $color-004-grey;
    font-size: $font-size - 1px;
    margin: 0 -30px -30px -30px;
    padding: 20px 0 0 0;
  }
}
