
/* ----- OPTION-003.scss ----- */

// Fonts.
@import "https://fonts.googleapis.com/css?family=Titillium+Web";

// Colors.
$color-003-white: #FFFFFF;
$color-003-blue: #084B85;

// Option 003.
.option-003 {
  @include background-cover;
  background-image: url("/assets/images/003-background.jpg");
  font-family: "Titillium Web", sans-serif;

  // Content.
  .content {
    background: rgba($color-003-white, 0.3);
    max-width: $max-width + 100px;
  }

  // Link.
  .link {
    color: $color-003-blue;
  }

  // Header.
  .header {
    padding: 20px 0 20px 0;
  }

  // Image.
  .image {
    height: 120px;
    width: 200px;
  }

  // Label.
  .label {
    color: $color-003-blue;
  }

  // Field, remember.
  .field-remember {

    // Label.
    .label-remember {
      font-size: $font-size;
    }

    // Checkbox.
    .label-remember:before {
      border: solid 1px $color-003-blue;
      margin-top: 2px;
    }

    // Hover.
    .label-remember:hover {
      color: $color-003-blue;

      // Before.
      &:before {
        border: solid 1px $color-003-blue;
      }
    }

    // Checked.
    .input-remember:checked ~ .label-remember:before {
      background: $color-003-blue;
      border: solid 1px $color-003-blue;
    }
  }

  // Inputs, text.
  .input-email,
  .input-password {
    background: transparent;
    border: solid 1px $color-003-blue;
    color: $color-003-blue;

    // Focus.
    &:focus {
      border: solid 1px $color-003-blue;
    }
  }

  // Actions.
  .actions {
    padding: 0 0 20px 0;
  }

  // Btn.
  .btn, a.btn, input[type="submit"].btn {
    @include rounded(0px);
    background: $color-003-blue;
    border: solid 1px $color-003-blue;
    font-size: $font-size - 1px;
    padding: 20px;
    text-transform: uppercase;
  }

  // Extras.
  .extras {
    padding: 10px;
  }

  // Footer.
  .footer {
    color: $color-003-blue;
    padding: 20px 0 10px 0;
  }
}
